{
    "openapi": "3.1.0",
    "info": {
        "title": "Covoiturage API",
        "description": "API pour la gestion du covoiturage.",
        "version": "2.0.0"
    },

    "servers": [
        {
            "url": "https://backend.covoitivoire.com/api/",
            "description": "Serveur de production"
        },
        {
            "url": "http://localhost:4000/api/",
            "description": "Serveur de développement"
        }
    ],

    "paths": {

        "/users": {
            "post": {
                "summary": "Créer un utilisateur",
                "description": "Créer un nouvel utilisateur avec une photo facultative.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "username": {
                                        "type": "string",
                                        "example": "john_doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "john@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "password123"
                                    },
                                    "role": {
                                        "type": "string",
                                        "example": "USER"
                                    },
                                    "currency_id": {
                                        "type": "string",
                                        "example": "FCFA"
                                    },
                                    "photo": {
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "required": [
                                    "username",
                                    "email",
                                    "password",
                                    "role"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Utilisateur créé avec succès.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponseUser"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Erreur dans la création de l'utilisateur.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur serveur interne.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    }
                }
            }
        },

        "users/{id}": {
            "put": {
                "summary": "Mettre à jour un utilisateur",
                "description": "Mettre à jour les informations d'un utilisateur existant avec une photo facultative.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "username": {
                                        "type": "string"
                                    },
                                    "email": {
                                        "type": "string"
                                    },
                                    "password": {
                                        "type": "string"
                                    },
                                    "role": {
                                        "type": "string"
                                    },
                                    "photo": {
                                        "type": "string",
                                        "format": "binary"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Utilisateur mis à jour avec succès.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponseUser"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Erreur dans la mise à jour de l'utilisateur.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Utilisateur non trouvé.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur serveur interne.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/users/": {
            "get": {
                "summary": "Obtenir tous les utilisateurs",
                "description": "Récupérer une liste de tous les utilisateurs.",
                "responses": {
                    "200": {
                        "description": "Liste des utilisateurs récupérée avec succès.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponseArrayUser"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur serveur interne.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/users/{id}": {
            "get": {
                "summary": "Obtenir un utilisateur par ID",
                "description": "Récupérer les détails d'un utilisateur spécifique.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Utilisateur récupéré avec succès.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponseUser"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Utilisateur non trouvé.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur serveur interne.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Supprimer un utilisateur",
                "description": "Supprimer un utilisateur spécifique par ID.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Utilisateur supprimé avec succès.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Utilisateur non trouvé.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur serveur interne.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/users/{id}/stats": {
            
            "get": {
                "summary": "Obtenir un utilisateur par ID",
                "description": "Récupérer les détails d'un utilisateur spécifique.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Utilisateur récupéré avec succès.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponseUser"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Utilisateur non trouvé.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur serveur interne.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/users/{id}/root/detail": {
            
            "get": {
                "summary": "Obtenir un utilisateur par ID",
                "description": "Récupérer les détails d'un utilisateur spécifique.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Utilisateur récupéré avec succès.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponseUser"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Utilisateur non trouvé.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur serveur interne.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/settings/{id}": {
            
            "get": {
                "summary": "les parametres de l'utilisateur compte, wallet,véhicule",
                "description": "Récupérer parametre spécifique de l'utilisateur compte, wallet,véhicule.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Parametre récupéré avec succès.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponseUser"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Parametre non trouvé.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur serveur interne.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    }
                }
            }
        },


        "/auth/login": {
            "post": {
                "summary": "Connexion de l'utilisateur",
                "description": "Authentifier un utilisateur et obtenir un token JWT.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "example": "john@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "password123"
                                    }
                                },
                                "required": [
                                    "email",
                                    "password"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Connexion réussie.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "token": {
                                            "type": "string",
                                            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Erreur dans les informations d'identification.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur serveur interne.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/auth/logout": {
            "post": {
                "summary": "Déconnexion de l'utilisateur",
                "description": "Déconnecter l'utilisateur (côté client supprime généralement le token).",
                "responses": {
                    "200": {
                        "description": "Déconnexion réussie.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur serveur interne.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/dashboard/stats": {

            "get": {
                "summary": "Obtenir toute les données du dashboard",
                "description": "Récupérer toute les données du dashboard.",
                "responses": {
                    "200": {
                        "description": "Données du dashboard.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "format": "int32"
                                        },
                                        "messages": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/BaseResponse"
                                            }
                                        }
                                    },
                                    "required": [
                                        "code",
                                        "messages",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur serveur interne.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
    
        "/trajets": {
            "post": {
                "summary": "Créer un trajet",
                "description": "Créer un nouveau trajet avec les informations fournies.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string",
                                        "example": "b8a3724d-68d8-4b9e-8b7e-f8d1d3c0ad09"
                                    },
                                    "utilisateur_id": {
                                        "type": "string",
                                        "example": "f4eaa12f-8637-446d-85de-28e085340119"
                                    },
                                    "point_depart": {
                                        "type": "object",
                                        "properties": {
                                            "lat": {
                                                "type": "number",
                                                "format": "float",
                                                "example": 5.3252258
                                            },
                                            "lon": {
                                                "type": "number",
                                                "format": "float",
                                                "example": -4.019603
                                            }
                                        },
                                        "required": [
                                            "lat",
                                            "lon"
                                        ]
                                    },
                                    "ville_depart": {
                                        "type": "string",
                                        "example": "Abidjan, Côte d'Ivoire"
                                    },
                                    "point_arrivee": {
                                        "type": "object",
                                        "properties": {
                                            "lat": {
                                                "type": "number",
                                                "format": "float",
                                                "example": 7.690466
                                            },
                                            "lon": {
                                                "type": "number",
                                                "format": "float",
                                                "example": -5.0390536
                                            }
                                        },
                                        "required": [
                                            "lat",
                                            "lon"
                                        ]
                                    },
                                    "ville_arrivee": {
                                        "type": "string",
                                        "example": "Bouaké, Côte d'Ivoire"
                                    },
                                    "temps_depart_prevu": {
                                        "type": "string",
                                        "format": "date-time",
                                        "example": "2024-09-03T12:05:00Z"
                                    },
                                    "temps_arrivee_prevu": {
                                        "type": "string",
                                        "format": "date-time",
                                        "example": "2024-09-05T12:05:00Z"
                                    },
                                    "duree_estimee": {
                                        "type": "integer",
                                        "example": 180
                                    },
                                    "distance_estimee": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 286.10
                                    },
                                    "etat_trajet": {
                                        "type": "string",
                                        "example": "pending"
                                    },
                                    "mode_transport": {
                                        "type": "string",
                                        "example": "voiture"
                                    },
                                    "price": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 3000,
                                        "nullable": true
                                    },
                                    "nombre_de_places": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "vehicule_id": {
                                        "type": "string",
                                        "example": "76ef2be8-496e-4d06-a7c7-a3b4ae571fea"
                                    },
                                    "arrets": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "lat": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 6.5560282
                                                },
                                                "lon": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": -5.0156456
                                                },
                                                "ville": {
                                                    "type": "string",
                                                    "example": "Toumodi, Côte d'Ivoire"
                                                }
                                            },
                                            "required": [
                                                "lat",
                                                "lon",
                                                "ville"
                                            ]
                                        }
                                    }
                                },
                                "required": [
                                    "utilisateur_id",
                                    "point_depart",
                                    "ville_depart",
                                    "point_arrivee",
                                    "ville_arrivee",
                                    "temps_depart_prevu",
                                    "temps_arrivee_prevu",
                                    "duree_estimee",
                                    "distance_estimee",
                                    "etat_trajet",
                                    "mode_transport",
                                    "nombre_de_places",
                                    "vehicule_id",
                                    "arrets"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Trajet créé avec succès.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Erreur dans la création du trajet.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur serveur interne.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "summary": "Obtenir tous les trajets",
                "description": "Récupérer une liste de tous les trajets.",
                "responses": {
                    "200": {
                        "description": "Liste des trajets récupérée avec succès.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "format": "int32"
                                        },
                                        "messages": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/BaseResponse"
                                            }
                                        }
                                    },
                                    "required": [
                                        "code",
                                        "messages",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur serveur interne.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        
        "/trajets/{id}": {

            "put": {
                "summary": "Mettre à jour un trajet",
                "description": "Mettre à jour les informations d'un trajet existant.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "utilisateur_id": {
                                        "type": "string",
                                        "example": "0b28de33-87f2-49d5-b6dc-fb046f61f675"
                                    },
                                    "point_depart": {
                                        "type": "object",
                                        "properties": {
                                            "lat": {
                                                "type": "number",
                                                "format": "float",
                                                "example": 48.8566
                                            },
                                            "lon": {
                                                "type": "number",
                                                "format": "float",
                                                "example": -48.8566
                                            }
                                        },
                                        "required": [
                                            "lat",
                                            "lon"
                                        ]
                                    },
                                    "ville_depart": {
                                        "type": "string",
                                        "example": "ABIDJAN"
                                    },
                                    "point_arrivee": {
                                        "type": "object",
                                        "properties": {
                                            "lat": {
                                                "type": "number",
                                                "format": "float",
                                                "example": 48.8566
                                            },
                                            "lon": {
                                                "type": "number",
                                                "format": "float",
                                                "example": -48.8566
                                            }
                                        },
                                        "required": [
                                            "lat",
                                            "lon"
                                        ]
                                    },
                                    "ville_arrivee": {
                                        "type": "string",
                                        "example": "AGBOVILLE"
                                    },
                                    "temps_depart_prevu": {
                                        "type": "string",
                                        "format": "date-time",
                                        "example": "2024-08-15T14:30:00Z"
                                    },
                                    "temps_arrivee_prevu": {
                                        "type": "string",
                                        "format": "date-time",
                                        "example": "2024-08-15T16:30:00Z"
                                    },
                                    "duree_estimee": {
                                        "type": "integer",
                                        "example": 120
                                    },
                                    "distance_estimee": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 20
                                    },
                                    "etat_trajet": {
                                        "type": "string",
                                        "example": "pending"
                                    },
                                    "mode_transport": {
                                        "type": "string",
                                        "example": "Voiture"
                                    },
                                    "price": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 5000,
                                        "nullable": true
                                    },
                                    "nombre_de_places": {
                                        "type": "integer",
                                        "example": 4
                                    },
                                    "vehicule_id": {
                                        "type": "string",
                                        "example": "47dcd5ab-5153-48f8-b87d-8cd7932d423e"
                                    }
                                },
                                "required": [
                                    "utilisateur_id",
                                    "point_depart",
                                    "ville_depart",
                                    "point_arrivee",
                                    "ville_arrivee",
                                    "temps_depart_prevu",
                                    "temps_arrivee_prevu",
                                    "duree_estimee",
                                    "distance_estimee",
                                    "etat_trajet",
                                    "mode_transport",
                                    "nombre_de_places",
                                    "vehicule_id"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Trajet mis à jour avec succès.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Erreur dans la mise à jour du trajet.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Trajet non trouvé.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur serveur interne.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    }
                }
            },
    
            "get": {
                "summary": "Obtenir un trajet par ID",
                "description": "Récupérer les détails d'un trajet spécifique.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Trajet récupéré avec succès.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Trajet non trouvé.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur serveur interne.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    }
                }
            },

            "delete": {
                "summary": "Supprimer un trajet",
                "description": "Supprimer un trajet spécifique par ID.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Trajet supprimé avec succès.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Trajet non trouvé.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur serveur interne.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/updated/{id}/updated": {
            "put": {
                "summary": "Mettre à jour un trajet",
                "description": "Mettre à jour les informations d'un trajet existant.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "temps_depart_prevu": {
                                        "type": "string",
                                        "format": "date-time",
                                        "example": "2024-08-15T14:30:00Z"
                                    },
                                    "temps_arrivee_prevu": {
                                        "type": "string",
                                        "format": "date-time",
                                        "example": "2024-08-15T16:30:00Z"
                                    },
                                    "nombre_de_places": {
                                        "type": "integer",
                                        "example": 4
                                    },
                                    "price": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 5000,
                                        "nullable": true
                                    },
                                    "vehicule_id": {
                                        "type": "string",
                                        "example": "47dcd5ab-5153-48f8-b87d-8cd7932d423e"
                                    }
                                },
                                "required": [
                                    "vehicule_id"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Trajet mis à jour avec succès.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Erreur dans la mise à jour du trajet.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Trajet non trouvé.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur serveur interne.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/trajets/{id}/listes": {
            "get": {
                "summary": "Obtenir un trajet par ID",
                "description": "Récupérer les détails d'un trajet spécifique.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Trajet récupéré avec succès.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Trajet non trouvé.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur serveur interne.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/search-trajets": {
            "post": {
                "summary": "Rechercher des trajets",
                "description": "Rechercher des trajets en fonction des critères fournis comme point de départ, point d'arrivée, temps de départ prévu et nombre de places.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "point_depart": {
                                        "type": "object",
                                        "properties": {
                                            "lat": {
                                                "type": "number",
                                                "format": "float",
                                                "example": 5.3252258
                                            },
                                            "lon": {
                                                "type": "number",
                                                "format": "float",
                                                "example": -4.019603
                                            }
                                        },
                                        "required": [
                                            "lat",
                                            "lon"
                                        ]
                                    },
                                    "point_arrivee": {
                                        "type": "object",
                                        "properties": {
                                            "lat": {
                                                "type": "number",
                                                "format": "float",
                                                "example": 6.8883341
                                            },
                                            "lon": {
                                                "type": "number",
                                                "format": "float",
                                                "example": -6.4396888
                                            }
                                        },
                                        "required": [
                                            "lat",
                                            "lon"
                                        ]
                                    },
                                    "temps_depart_prevu": {
                                        "type": "string",
                                        "format": "date-time",
                                        "example": "2024-09-03T19:56:00.000Z"
                                    },
                                    "nombre_de_places": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "required": [
                                    "point_depart",
                                    "point_arrivee",
                                    "temps_depart_prevu",
                                    "nombre_de_places"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Trajets récupérés avec succès.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "format": "int32",
                                            "example": 200
                                        },
                                        "messages": {
                                            "type": "string",
                                            "example": "Trajets retrieved successfully"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/BaseResponse"
                                            },
                                            "example": [
                                                {
                                                    "id": "1",
                                                    "utilisateur_id": "user123",
                                                    "point_depart": {
                                                        "lat": 5.3252258,
                                                        "lon": -4.019603
                                                    },
                                                    "point_arrivee": {
                                                        "lat": 6.8883341,
                                                        "lon": -6.4396888
                                                    },
                                                    "temps_depart_prevu": "2024-09-03T19:56:00.000Z",
                                                    "temps_arrivee_prevu": "2024-09-03T22:00:00.000Z",
                                                    "duree_estimee": 150,
                                                    "distance_estimee": 5600.5,
                                                    "etat_trajet": "planned",
                                                    "historique_position": {
                                                        "points": []
                                                    },
                                                    "mode_transport": "car",
                                                    "price": 75.0,
                                                    "nombre_de_places": 1,
                                                    "arrets": [
                                                        {
                                                            "nom": "Stop 1"
                                                        }
                                                    ],
                                                    "commandes": []
                                                }
                                            ]
                                        }
                                    },
                                    "required": [
                                        "code",
                                        "messages",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Erreur de validation des paramètres.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur serveur interne.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    }
                }
            }
        }
        ,

        "/commandes": {

            "get": {
                "summary": "Obtenir toutes les commandes",
                "description": "Récupérer une liste de toutes les commandes.",
                "responses": {
                    "200": {
                        "description": "Liste des commandes récupérée avec succès.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "format": "int32"
                                        },
                                        "messages": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/BaseResponse"
                                            }
                                        }
                                    },
                                    "required": [
                                        "code",
                                        "messages",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur serveur interne.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    }
                }
            },

            "post": {
                "summary": "Créer une commande",
                "description": "Créer une nouvelle commande avec les informations fournies.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "trajet_id": {
                                        "type": "string"
                                    },
                                    "utilisateur_id": {
                                        "type": "string"
                                    },
                                    "conducteur_id": {
                                        "type": "string"
                                    },
                                    "point_prise_en_charge": {
                                        "type": "object",
                                        "nullable": true
                                    },
                                    "point_depose": {
                                        "type": "object",
                                        "nullable": true
                                    },
                                    "temps_prise_en_charge": {
                                        "type": "string",
                                        "format": "date-time"
                                    },
                                    "temps_depose": {
                                        "type": "string",
                                        "format": "date-time"
                                    },
                                    "statut_commande": {
                                        "type": "string",
                                        "example": "pending"
                                    },
                                    "montant": {
                                        "type": "number",
                                        "format": "float",
                                        "nullable": true
                                    },
                                    "mode_paiement": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "commentaires_instructions": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "date_action": {
                                        "type": "string",
                                        "format": "date-time",
                                        "nullable": true
                                    },
                                    "historique_statuts": {
                                        "type": "object",
                                        "nullable": true
                                    },
                                    "evaluations": {
                                        "type": "object",
                                        "nullable": true
                                    }
                                },
                                "required": [
                                    "trajet_id",
                                    "utilisateur_id",
                                    "conducteur_id",
                                    "temps_prise_en_charge",
                                    "temps_depose",
                                    "statut_commande"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Commande créée avec succès.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Erreur dans la création de la commande.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur serveur interne.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    }
                }
            }

        },

        "/commandes/{id}": {

            "get": {
                "summary": "Obtenir une commande par ID",
                "description": "Récupérer les détails d'une commande spécifique.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Commande récupérée avec succès.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Commande non trouvée.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur serveur interne.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    }
                }
            },
            

            "put": {
                "summary": "Mettre à jour une commande",
                "description": "Mettre à jour les informations d'une commande existante.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "trajet_id": {
                                        "type": "string"
                                    },
                                    "utilisateur_id": {
                                        "type": "string"
                                    },
                                    "conducteur_id": {
                                        "type": "string"
                                    },
                                    "point_prise_en_charge": {
                                        "type": "object",
                                        "nullable": true
                                    },
                                    "point_depose": {
                                        "type": "object",
                                        "nullable": true
                                    },
                                    "temps_prise_en_charge": {
                                        "type": "string",
                                        "format": "date-time"
                                    },
                                    "temps_depose": {
                                        "type": "string",
                                        "format": "date-time"
                                    },
                                    "statut_commande": {
                                        "type": "string"
                                    },
                                    "montant": {
                                        "type": "number",
                                        "format": "float",
                                        "nullable": true
                                    },
                                    "mode_paiement": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "commentaires_instructions": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "date_action": {
                                        "type": "string",
                                        "format": "date-time",
                                        "nullable": true
                                    },
                                    "historique_statuts": {
                                        "type": "object",
                                        "nullable": true
                                    },
                                    "evaluations": {
                                        "type": "object",
                                        "nullable": true
                                    }
                                },
                                "required": [
                                    "trajet_id",
                                    "utilisateur_id",
                                    "conducteur_id",
                                    "temps_prise_en_charge",
                                    "temps_depose",
                                    "statut_commande"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Commande mise à jour avec succès.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Erreur dans la mise à jour de la commande.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Commande non trouvée.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur serveur interne.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    }
                }
            },


            "delete": {
                "summary": "Supprimer une commande",
                "description": "Supprimer une commande spécifique par ID.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Commande supprimée avec succès.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Commande non trouvée.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur serveur interne.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    }
                }
            }
        },


        "/commndesusers/{id}/one": {
            "get": {
                "summary": "Obtenir la dernier commande d'un utilisateur",
                "description": "Récupérer les détails des commandes spécifique.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Commande récupérée avec succès.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Commande non trouvée.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur serveur interne.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/commndesusers/{id}/users/all": {

            "get": {
                "summary": "Obtenir les commandes du passager",
                "description": "Récupérer les détails des commandes spécifique.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Commande récupérée avec succès.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Commande non trouvée.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur serveur interne.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    }
                }
            }
        },


        "/drivers/{id}/commandes": {

            "get": {
                "summary": "Obtenir la dernier commande d'un chauffeur",
                "description": "Récupérer les détails des commandes spécifique.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Commande récupérée avec succès.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Commande non trouvée.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur serveur interne.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/drivers/{id}/commandes/history": {

            "get": {
                "summary": "Obtenir les commandes du chauffeur",
                "description": "Récupérer les détails des commandes spécifique.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Commande récupérée avec succès.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Commande non trouvée.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur serveur interne.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    }
                }
            }
        },


        "/status/{id}": {

            "put": {
                "summary": "Changer les statut de la commande",
                "description": "Mettre à jour les statuts des commandes.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "newStatus": {
                                        "type": "string",
                                        "example": "validated"
                                    }
                                },
                                "required": [
                                    "newStatus"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Rechargement mis à jour avec succès.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Erreur dans la mise à jour du rechargement.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur serveur interne.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    }
                }
            },

            "delete": {
                "summary": "Supprimer un rechargement",
                "description": "Supprimer un rechargement spécifique par ID.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Rechargement supprimé avec succès."
                    },
                    "404": {
                        "description": "Rechargement non trouvé.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur serveur interne.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/reponseConducteur": {
            "get": {
                "summary": "Obtenir toutes les réponses des conducteurs",
                "description": "Récupérer une liste de toutes les réponses des conducteurs.",
                "responses": {
                    "200": {
                        "description": "Liste des réponses des conducteurs récupérée avec succès.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "integer",
                                            "format": "int32"
                                        },
                                        "messages": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/BaseResponse"
                                            }
                                        }
                                    },
                                    "required": [
                                        "code",
                                        "messages",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur serveur interne.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Créer une réponse de conducteur",
                "description": "Créer une nouvelle réponse de conducteur avec les informations fournies.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "commande_id": {
                                        "type": "string"
                                    },
                                    "conducteur_id": {
                                        "type": "string"
                                    },
                                    "commentaires": {
                                        "type": "string"
                                    },
                                    "statut_reponse": {
                                        "type": "string",
                                        "example": "validated"
                                    },
                                    "temps_reponse": {
                                        "type": "string",
                                        "format": "date-time"
                                    }
                                },
                                "required": [
                                    "commande_id",
                                    "conducteur_id",
                                    "commentaires",
                                    "temps_reponse",
                                    "statut_reponse"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Réponse du conducteur créée avec succès.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Erreur dans la création de la réponse du conducteur.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur serveur interne.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    }
                }
            }
        },

        "/reponseConducteur/{id}": {
            "get": {
                "summary": "Obtenir une réponse de conducteur par ID",
                "description": "Récupérer les détails d'une réponse de conducteur spécifique.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Réponse du conducteur récupérée avec succès.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Réponse du conducteur non trouvée.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Erreur serveur interne.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Mettre à jour une réponse de conducteur",
                "description": "Mettre à jour les informations d'une réponse de conducteur existante.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "commande_id": {
                                        "type": "string"
                                    },
                                    "conducteur_id": {
                                        "type": "string"
                                    },
                                    "commentaires": {
                                        "type": "string"
                                    },
                                    "statut_reponse": {
                                        "type": "string",
                                        "example": "validated"
                                    },
                                    "temps_reponse": {
                                        "type": "string",
                                        "format": "date-time"
                                    }
                                },
                                "required": [
                                    "commande_id",
                                    "conducteur_id",
                                    "commentaires",
[...]
